.DS_Store
/.venv
/.idea
/.vscode/*.log
*.tif
*.tfw
*.xml
*.csv
.unzip
*.pbf
*.osm
*.shx
*.prj
*.shp
*.dbf
/drops*/
/output/
/input/
input.vrt
/moi-2025/.hgt
/moi-2025/hgt*.zip
/*.zip
aw3d30-4.1/*.zip
.*_hgt
.*-hgt
